@media screen and (max-width: 768px){
    .span_2_of_3{
        width: 100%;
    }
    .span_1_of_3{
        width: 100%;
        margin-left: 0;
    }
    .mynav{
        display: none;
    }
}
@media screen and (max-width: 480px){
    .content-section .span_1_of_2{
        width: 50%;
    }
    html{
        font-size: 50%;
    }
}